/* Home */

.resumen-home{
  text-align: center;
}
 
.menu-index  {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px; 

  text-align: center;
  margin: 1%;
  padding: 2%;
}

@media (min-width: 576px) { 
  .menu-index {
    grid-template-columns: repeat(2, 1fr);
  }
}




.tarjeta{
  padding:3%; 

}
