/* Logos */

  .logo-rectangular{
      width: 20rem;
      border-radius: 15px;
      text-align: left;
  }

  .logo-cuadrado{
    height: 10rem;
    border-radius: 15px

}



/* Certificados */

  .imagen{
    width: 35rem;
    border-radius: 15px;
    text-align: center;
  }

/* Imagenes */


.imagen-2{
    width: 35rem;
    border-radius: 15px;
   }


.scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}


/* animation scale-in-hor-center */
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}