/* Logos */

  .logo-rectangular{
      width: 20rem;
      border-radius: 15px

  }

  .logo-cuadrado{
    height: 10rem;
    border-radius: 15px

}



/* Certificados */

  .imagen{
    width: 35rem;
    border-radius: 15px
  }

/* Imagenes */


.imagen-2{
    width: 35rem;
    border-radius: 15px;
   }


