/* Estudios */

.estudios-cursos{
  display: grid; 
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
  gap: 10px 10px;
  text-align: center;
  padding: 2%; 
}

@media (max-width: 576px) { 
  .estudios-cursos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    gap: 10px 10px;
    padding: 2%; 
    }
}



