/* Estudios */

.estudios-cursos{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 10px 10px;
  grid-template-areas: 
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."; 
  text-align: center;
  padding: 2%; 
}
