
  /* Formato Principal */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 1%;
    border-radius: 15px
  }
  

  /* Fuentes */

  .font-principal {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  .subtitulo{
    font-style: bold;

  }

/* Colores Fondo */
  
  .color-fondo {
    background-color: #87898d;
  }

  .color-fondo-2 {
    background-color: #2bb36f;
  }


/* Listas */

  li{
    list-style: none;

  }

/* Links */
  a:visited {
    text-decoration: none;
    color: white;
}

  a {
    text-decoration: none;
    color: white;
}

/* Logos */

  .logo-rectangular{
      width: 20rem;
      border-radius: 15px

  }

  .logo-cuadrado{
    height: 10rem;
    border-radius: 15px

}


/* Cabecera */

  .titulo {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #2bb36f;
  }

.item{
  margin: 1.5%;

}


/* Home */

.resumen-home{
  text-align: center;

}

.menu-index {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 20px 20px;
  grid-template-areas: 
    ". ."
    ". ."; 

  text-align: center;
  margin: 2%;
}

.imagen-2{
    width: 35rem;
    border-radius: 15px;
  }

/* Otras Paginas */

.menu{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 10px 10px;
  grid-template-areas: 
    ". . . ."; 
  text-align: center;
  padding: 3%;
  background-color: #87898d;
  border-radius: 15px
}

.subtitulo{
  text-align: center;

}

/* Estudios */

.estudios-cursos{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 10px 10px;
  grid-template-areas: 
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."; 
  text-align: center;
  padding: 2%; 
}

/* Certificados */

  .imagen{
    width: 35rem;
    border-radius: 15px
  }



  /* Porfolio */

  .menu-porfolio {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
    text-align: center;
  padding: 2%;  

}
